.did-button {
    overflow:hidden;
    position:relative;

    border-width: 4px;
    border-style: solid;
    font-weight: 800;
    border-radius: 20px;
    text-align:center;
}

.shadow {
    box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
}
