<ion-content>
    <app-titlebar></app-titlebar>
    <div class="list-container ion-text-center">
        <h1>Advanced Tests</h1>
        <p>
            Here are more advanced tests that may or may not be useful to developers.
        </p>
        
        <div *ngIf="busy" class="spinner">
            <ion-spinner ></ion-spinner>
        </div>
    
        <div *ngIf="operationResultInfo && !busy" class="result">
            <h2>RESPONSE</h2>
            <p>{{ operationResultInfo }}</p>
        </div>

        <ion-card class="ion-padding" (click)="revokeAccessToken()">
            <ion-card-subtitle>Revoke Hive Access Token</ion-card-subtitle>
        </ion-card>
        <ion-card class="ion-padding" (click)="multipleParrallelCalls()">
            <ion-card-subtitle>Multiple Create Collection (parallel)</ion-card-subtitle>
        </ion-card>
    </div>
</ion-content>