<ion-content [fullscreen]="true">
  <div id="container">
    <br />
    <h2>{{infoMessage}}</h2>

    <h3>Setup</h3>
    <ion-button (click)="useInjectedWeb3()">Use injected</ion-button>
    <ion-button (click)="useCustomWalletConnect()">Use custom WC</ion-button>
    <ion-button (click)="useEssentialsWalletConnect()">Use Essentials connector WC'</ion-button>
    <ion-button (click)="disconnectWalletConnect()">Disconnect WC</ion-button>
    <br />
    <ion-button (click)="useApplicationDID()">Use application DID</ion-button>
    <ion-button (click)="clearApplicationDID()">Clear application DID</ion-button>
    <br />

    <h3>Elastos: Identity</h3>
    <ion-button (click)="testGetCredentials()">Get Credentials (v1)</ion-button>
    <ion-button (click)="testRequestCredentials('nametype')">Req. Cred. - name type</ion-button>
    <ion-button (click)="testRequestCredentials('nameid')">Req. Cred. - name id</ion-button>
    <ion-button (click)="testRequestCredentials('kyc')">Req. Cred. - kyc by type</ion-button>
    <ion-button (click)="testRequestCredentials('nameemailidopt')">Req. Cred. - name id, email id opt</ion-button>
    <ion-button (click)="testRequestCredentials('nameidwithinexistingissuer')">Req. Cred. - name id with inex. issuer
    </ion-button>
    <ion-button (click)="testRequestCredentials('imported')">Req. Cred. - imported from tests
    </ion-button>
    <br />
    <ion-button (click)="testIssueCredentials()">Issue a credential for others</ion-button>
    <br />
    <ion-button (click)="testImportCredentials()">Create and import Credentials (default)</ion-button>
    <br />
    <ion-button (click)="testImportCredentialsAndPublish()">Create and import Credentials (publish)</ion-button>
    <br />
    <ion-button (click)="testImportCredentialContext()">Import credential context</ion-button>
    <br />
    <ion-button (click)="testDeleteCredential()">Delete credential (default)</ion-button>
    <br />
    <ion-button (click)="testDeleteCredentialAndPublish()">Delete credential (publish)</ion-button>
    <br />
    <ion-button (click)="testRequestPublish()">Request Publish</ion-button>
    <br />
    <ion-button (click)="testSignDIDData()">Sign data with DID</ion-button>
    <br />
    <ion-button (click)="testDIDTransaction()">Publish DID Transaction</ion-button>
    <br />

    <h3>Elastos: Others</h3>
    <ion-button (click)="testPay()">Test Pay</ion-button>
    <br />

    <h3>ETH: Signing</h3>
    <ion-button (click)="testSignTypedData()">Test ETH sign typed data</ion-button>
    <ion-button (click)="testEthSign()">eth_sign</ion-button>
    <ion-button (click)="testPersonalSign()">personal_sign</ion-button>
    <br />

    <h3>ETH</h3>
    <ion-button (click)="testETHCall()">Test ETH call</ion-button>
    <br />
    <ion-button (click)="testAddERC20()">Add ERC20 token</ion-button>
    <br />
    <ion-button (click)="testSwitchToElastos()">Switch to Elastos</ion-button>
    <ion-button (click)="testSwitchToHeco()">Switch to Heco</ion-button>
    <br />
    <ion-button (click)="testAddHecoNetwork()">Add Heco network</ion-button>
    <ion-button (click)="testAddRandomNetwork()">Add non existing network</ion-button>
    <br />

    <h3>Storage</h3>
    <ion-button (click)="testSetHiveAddress()">Set hive vault address</ion-button>
    <ion-button (click)="testHiveBackupCredential()">Get hive backup credential</ion-button>
    <ion-button (click)="testGetAppIDCredential('published')">Get app ID cred (published)</ion-button>
    <ion-button (click)="testGetAppIDCredential('publishednoinfo')">Get app ID cred (published no info)</ion-button>
    <ion-button (click)="testGetAppIDCredential('unpublished')">Get app ID cred (unpublished)</ion-button>
    <ion-button (click)="testHive()">Test Hive Storage</ion-button>
    <ion-button (click)="testHiveDownloadAvatar()">Download hive avatar</ion-button>
    <img [src]="hiveAvatarDataUrl" class="hive-avatar" />
    <br />

    <h3>Wallet connect</h3>
    <ion-button (click)="testWalletConnectCustomRequest()">Wallet connect: custom request</ion-button>
    <br />

    <h3>Other tests</h3>
    <ion-button (click)="essNetHref()">Ess.net href</ion-button>
    <ion-button (click)="essNetWindow()">Ess.net win open</ion-button>
    <a href="https://wallet.elastos.net/pay?amount=12" target="_blank">Pay link</a>
    <ion-button (click)="startCamera()">Start camera</ion-button>
    <video style="width: 300px; height: 200px"></video>

    <!--<ion-button (click)="testHiveAuth()">Hive Auth</ion-button>
    <br/>
    <ion-button (click)="unselectActiveConnector()">Forget current connector</ion-button>
    <br/>
    <ion-button (click)="revokeHiveAuthToken()">Forget hive auth token</ion-button>
    <br/>
    <ion-button (click)="deleteLocalStorage()">Delete local storage (instance DIDs, local identity etc)</ion-button>
    <br/>
    <ion-button (click)="manageLocalIdentity()">Manage local identity</ion-button>
    <br/>
    <ion-button (click)="setLanguage('en')">Language: EN</ion-button>
    <ion-button (click)="setLanguage('fr')">Language: FR</ion-button>
    <ion-button (click)="setLanguage('zh')">Language: ZH</ion-button>
    <br/>
    <ion-button (click)="setDarkMode(false)">Light theme mode</ion-button>
    <ion-button (click)="setDarkMode(true)">Dark theme mode</ion-button>
    <br/>
    <ion-button (click)="registerEssentialsConnector()">Connector: register Essentials</ion-button>
    <ion-button (click)="unregisterEssentialsConnector()">Connector: unregister Essentials</ion-button>
    <br/>
    <ion-button (click)="registerLocalConnector()">Connector: register Local identity</ion-button>
    <ion-button (click)="unregisterLocalConnector()">Connector: unregister Local identity</ion-button>-->
    <ion-button (click)="testUnlinkEssentialsConnection()">Unlink connection to Essentials </ion-button>
    <br /><br />
  </div>
</ion-content>