<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test01</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="testIntent()">Test Intent</ion-button>
    <br/>
    <ion-button (click)="testResolveDIDDocument()">Test Resolve DID</ion-button>
    <br/>
    <ion-button (click)="testAuth()">Test Auth</ion-button>
  </div>
</ion-content>
